@use '../../../common/styles.scss' as *;

.container{
	display: flex;
	flex-direction: row;
	@include scale(gap, 30px);
	@include scale(padding-top, 60px);

	.slide {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #457B9D;
		color: white;
		box-sizing: border-box;
		@include scale(width, 389px);
		@include scale(height, 464px);
		@include scale(border-radius, 40px);
		@include scale(font-size, 20px);
		border: 2px solid transparent;
	}

	.buttonsForm {
		display: flex;
		flex-direction: column;
		@include scale(gap, 20px);
		justify-content: flex-end;

		.apiError {
			margin: 0;
			color: #ffb4b4;
			font-family: var(--montserrat), sans-serif;
			text-align: center;
			@include scale(font-size, 14px);
			@include scale(max-width, 325px);
		}
	}

	.noRightsText {	
		font-family: var(--montserrat), sans-serif;
		font-weight: 500;
		color: #fffff0;
		@include scale(font-size, 32px);
		@include scale(width, 325px);
		@include scale(padding-bottom, 100px);
	}
}
